@font-face {font-family:PlayRegular; src:url(fonts/Play-Regular.ttf);}

/* global params */
* {
	margin:0px; padding:0px; vertical-align:top;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}
body {
	position:relative;
	padding:0px; 
	margin:0px; 
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	font-family:PlayRegular;
	font-size:14px; 
	color: #fff;
	overflow:hidden;
	background: #666;
}

li {text-decoration:none; list-style:none;vertical-align:top;}
a {	text-decoration:none; vertical-align:top;}
/* -- global params end -- */

#hw-game-BubbleBlower{
	display:flex;
	align-items: center;
    justify-content: center;
    flex-wrap: wrap;
	position:absolute;
	top:0px; left:0px;
	width:100%; height:100%;
	z-index:8;
	background:url('../img/fon_9a1.jpg');
	overflow: hidden;
	background-position:center;
}
#hw-game-BubbleBlower div{position:absolute;}
#hw-game-BubbleBlower .t-red{color:#dd0a0a;}
#hw-game-BubbleBlower .t-center{text-align:center;}
/* TOP */
#hw-game-BubbleBlower .hw-top{
	display: flex;
	align-items: center;
	justify-content: center;
	top:0px; left:0px;
	width:100%; height:10%;
	z-index:7!important;
}
#hw-game-BubbleBlower .hw-top div{
	position:absolute;
}
/* -TOP- */

/* BUTTONS */
#hw-game-BubbleBlower .btn {
	display:inline-flex;
	align-items: center;
    justify-content: center;
	height:60px;
	width:60px;
	font-size:38px;
	padding: 0px 0px 5px 0px;
    background: #243636;
    border: 2px solid #649295;
    border-radius: 20%;
    z-index: 82;
    cursor: pointer;
    user-select: none;
}
#hw-game-BubbleBlower .btn:hover, .btn:active{background:#304c4c;}
#hw-game-BubbleBlower .btn.disable{
	background: #262626;
    color: #606060;
    border-color: #3a3a3a;
    opacity: 0.8;
    z-index: 10;
}
#hw-game-BubbleBlower .btn.no_p{padding: 0px;}
#hw-game-BubbleBlower .btn.w_x2{width: 120px;}
#hw-game-BubbleBlower .btn.w_x3{width: 180px;}
#hw-game-BubbleBlower .btn.w_x4{width: 240px;}

#hw-btn-play {position:absolute; top:20px;left:calc(50% - 30px);}
#hw-game-BubbleBlower .hw-but-play{}
#hw-game-BubbleBlower .hw-but-play::before { content:'➤';}
#hw-game-BubbleBlower .hw-but-play.active { background: #2e9292; border-color:#19d6e2; }
#hw-game-BubbleBlower .hw-but-play.active::before { content:'❚❚';}

#hw-game-BubbleBlower .hw-but-menu {transition:left 0.4s;}
#hw-game-BubbleBlower .hw-but-menu::before { content:'☰';}
#hw-game-BubbleBlower #hw-btn-menu-left {top:20px; left:20px; z-index:95;}
#hw-game-BubbleBlower.play #hw-btn-menu-left {top:20px; left:-80px;}

#hw-game-BubbleBlower .hw-but-fullscrin {transition:right 0.4s;}
#hw-game-BubbleBlower .hw-but-fullscrin.active { background: #2e9292; border-color:#19d6e2; }
#hw-game-BubbleBlower .hw-but-fullscrin::before { content:'⤧';}
#hw-game-BubbleBlower .hw-but-fullscrin.active::before { content:'⤩';}
#hw-game-BubbleBlower #hw-btn-fullscrin-right {top:20px; right:20px;}
#hw-game-BubbleBlower.play #hw-btn-fullscrin-right {top:20px; right:-80px;}

#hw-game-BubbleBlower .bottom-btns {
    display: flex;
    bottom: 100px;
	left:calc(50% - 125px);
    width: 250px;
    align-items: center;
    justify-content: space-between;
	transition:bottom 0.4s;
}
#hw-game-BubbleBlower .bottom-btns .btn{position:relative; display:inline-flex;}
#hw-game-BubbleBlower.play .bottom-btns{bottom: 20px;}
#hw-game-BubbleBlower .bottom-btns .btn .count{
	position:absolute;
	display:flex;
	align-items: center;
    justify-content: center;
	top:-10px;
	right:-10px;
	width:30px;
	height:30px;
	font-size:16px;
	border-radius:50%;
	border:2px solid;
	border-color: inherit;
	background: inherit;
}

#hw-game-BubbleBlower #hw-btn-commercial-play{transition:bottom 0.4s; bottom: 20px; left:calc(50% - 60px);}
#hw-game-BubbleBlower.play #hw-btn-commercial-play{bottom: -100px;}


#hw-game-BubbleBlower .hw-but-timer{
	top:0%;
	right:1%;
	font-size: 7vh;
	text-align:center;
	z-index:1;
	color: #fff;
}
#hw-game-BubbleBlower .hw-but-score {
	top:0%;
	left:1%;
	font-size: 7vh;
	text-align:center;
	z-index:1;
	color: #fff;
}

#hw-game-BubbleBlower .hw-rating-clouse {transition:left 0.4s; top:20px; left: -100px; z-index: 92;}
#hw-game-BubbleBlower .hw-rating-clouse.active {top:20px; left:20px; z-index: 100;}

#hw-game-BubbleBlower #hw-btn-info {transition:right 0.4s; top:20px; right:20px; z-index: 80;}
#hw-game-BubbleBlower.play #hw-btn-info{right: -100px;}
/* -BUTTONS- */

/* GAME FILELD */
#hw-game-BubbleBlower .hw-game-field{
	top:0%; left:0px;
	width:100%; height:100%;
}
#hw-game-BubbleBlower .hw-game-field .hw-one-bubble{
	width: 8%;
	z-index:20;
	cursor: pointer;
	user-select: none;
}
#hw-game-BubbleBlower .hw-one-bubble_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
#hw-game-BubbleBlower .hw-one-bubble_wrap .hw-one-bubble_img{
	width:100%;
	height:100%;
	background-size:100% 100%;
	transition:all 0.2s ease-in-out;
	animation: pulsare-anim 2s infinite alternate;
	opacity: 1;
}
#hw-game-BubbleBlower .hw-one-bubble_wrap .hw-one-bubble_img_boom{ 
	width:0%;
	height:0%;
	background-size:100% 100%;
	transition:all 0.4s ease-in-out;
	opacity: 0;
}
#hw-game-BubbleBlower .hw-game-field .hw-one-bubble:before{
	display:block;
	content: "";
	padding-top: 100%;
}
/* -GAME FILELD- */

/* MENU */
#hw-game-BubbleBlower .hw-menu {
	position:relative;
	display: none;
	align-items: center;
	justify-content: center;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	z-index:90 !important;
	background:#000000cc;
}
#hw-game-BubbleBlower .hw-menu ul {
	position:relative;
	max-width:80%;
	min-width:300px;
	z-index:20;
}
#hw-game-BubbleBlower .hw-menu ul li{
	font-size: 5vh;
	padding: 8px 20px;
    margin: 18px 0px;
    background: #243636;
    border: 2px solid #649295;
    border-radius: 10% 0% 10% 0%;
	cursor: pointer;
	user-select: none;
}

#hw-game-BubbleBlower .hw-menu .hw-menu-clouse-back{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1
}

#hw-game-BubbleBlower .hw-menu.active {display:flex;}

#hw-game-BubbleBlower .hw-menu .hw-menu-but-sound span{color:#11ff1a;}
#hw-game-BubbleBlower .hw-menu .hw-menu-but-sound.active span{color:#f11;}

#hw-game-BubbleBlower .hw-menu .hw-menu-but-musick span{color:#11ff1a;}
#hw-game-BubbleBlower .hw-menu .hw-menu-but-musick.active span{color:#f11;}

#hw-game-BubbleBlower .hw-menu .hw-menu-but-lang span{color:#3cb1b9;}
/* -MENU- */

/* RATING */
#hw-game-BubbleBlower .hw-rating {
	display: flex;
	align-items: center;
	justify-content: center;
	top:0%;
	left:-100%;
	width:100%;
	height:100%;
	z-index:100 !important;
	background:url('../img/fon_9a1.jpg');
	transition:all 0.4s ease-in-out;
}
#hw-game-BubbleBlower .hw-rating.active {
	left:0%;
}

#hw-game-BubbleBlower .hw-rating .rating-dop-info{
	top: 70px;
	right: 10%;
	font-size: 16px;
}

#hw-game-BubbleBlower .hw-rating ul {
    overflow: auto;
    position: absolute;
    top: 90px;
    left: 10%;
    max-height: 80%;
    width: 80%;
}
#hw-game-BubbleBlower .hw-rating ul li{
	font-size: 4vw;
	padding: 2% 10%;
    margin: 2% 2%;
    background: #243636;
    border: 2px solid #649295;
    border-radius: 10% 0% 10% 0%;
}

#hw-game-BubbleBlower .hw-rating ul li .name{color:#78b9bd;}
#hw-game-BubbleBlower .hw-rating ul li .score{color:#11ff1a;}
/* -RATING- */

/* Finis */
#hw-game-BubbleBlower .hw-finish {
	display: none;
	align-items: center;
	justify-content: center;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	z-index:100 !important;
	background:#00000080;
}
#hw-game-BubbleBlower .hw-finish ul {
	max-width:80%;
	padding: 0px 0px 180px 0px;
}
#hw-game-BubbleBlower .hw-finish ul li{
	font-size: 5vh;
	padding: 8px 20px;
    margin: 18px 0px;
    background: #243636;
    border: 2px solid #649295;
    border-radius: 10% 0% 10% 0%;
}
#hw-game-BubbleBlower .hw-finish ul li input{
	width: 100%;
	font-size: 5vh;
	color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #649295;
	background: #243636;
}
#hw-game-BubbleBlower .hw-finish ul li input:focus {
	outline:none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #649295;
}

#hw-game-BubbleBlower .hw-finish.active {display:flex;}
#hw-game-BubbleBlower .hw-finish-but-score.view {
	font-size: 8vh;
	background:none;
	border:none;
	text-align: center;
}
#hw-game-BubbleBlower .hw-finish-but-error.mesage {
	font-size: 3vh;
	border:none;
	background:none;
	opacity:0;
}
#hw-game-BubbleBlower .hw-finish-but-error.error{color:#f11;}
#hw-game-BubbleBlower .hw-finish-but-error.yes{color:#11ff1a;}
/* -RATING- */

/* BOT */
#hw-game-BubbleBlower .hw-bot{
	top:100%; left:0px;
	width:100%; height:10%;
	background:#0ff;
}
/* -BOT- */

/* SKILLS */
#hw-game-BubbleBlower #lightning-block{
    top: 0%;
    width: 20%;
	max-width: 400px;
    height:100%;
    background: url(../img/skills/lightning.png);
    background-position: center;
    background-size: 100%;
    z-index:-1;
	visibility: hidden;
	opacity:0;
}
#hw-game-BubbleBlower #lightning-block.active{
	visibility: visible; opacity:1; z-index:20;
	animation: lightning 0.4s;
	animation-fill-mode:forwards;
}

#hw-game-BubbleBlower #incision-block{
	display: flex;
	align-items: center;
    justify-content: center;
	top:calc(50% - 100px);
	left:0px;
	width:100%;
	height:200px;
	z-index:-1;
	visibility: hidden;
	opacity:0;
}
#hw-game-BubbleBlower #incision-block .anim{
    height: 100%;
    width: 0%;
	border-radius: 0px;
	border-left: 4px solid #fff;
    border-right: 4px solid #fff;
	opacity:1;
}
#hw-game-BubbleBlower #incision-block .anim:after{
    position: relative;
    top: 25%;
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    background: radial-gradient(circle, rgb(100 146 149 / 80%) 0%, rgb(70 252 244 / 20%) 100%), url(../img/skills/incision.png);
    border-radius: 50px;
    background-position: center;
    -webkit-box-shadow: 0px 0px 30px 8px rgb(30 73 106);
    -moz-box-shadow: 0px 0px 30px 8px rgb(30 73 106);
    box-shadow: 0px 0px 30px 8px rgb(30 73 106);
}
#hw-game-BubbleBlower #incision-block.active{
	visibility: visible; opacity:1; z-index:20;
}
#hw-game-BubbleBlower #incision-block.active .anim{
	animation: incision 0.4s;
	animation-fill-mode:forwards;
}

#hw-game-BubbleBlower #explosion-block{
	display: flex;
	align-items: center;
    justify-content: center;
	top:calc(50% - 30%);
	height:60%;
	z-index:-1;
	visibility: hidden;
	opacity:0;
}
#hw-game-BubbleBlower #explosion-block .anim{
	background:url(../img/skills/explosion.png);
    border-radius: 50px;
	background-position: center;
    background-size: cover;
	width: 0%;
    height: 0%;
	transition: all 0.4s
}
#hw-game-BubbleBlower #explosion-block.active{visibility: visible; opacity:1; z-index:20;}
#hw-game-BubbleBlower #explosion-block.active .anim{
	animation: explosion 0.4s;
	animation-fill-mode:forwards;
}
/* -SKILLS- */

/* modal */
#hw-modal-info .modal-content{
	display: flex;
    align-items: center;
    justify-content: space-evenly;
	flex-direction: column;
}
#hw-modal-info .modal-content div{position:relative; font-size: 18px;}
#hw-modal-info .modal-content div h2{}
#hw-modal-info .modal-content div p{}

#add-random-skill .modal-content{
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}
#add-random-skill .modal-content .new-skill{
	display: flex;
	justify-content: space-between;
    align-items: center;
	position:relative; 
	margin: 0px 0px 32px 0px;
}
#add-random-skill .modal-content .new-skill div{position:relative;}
#add-random-skill .modal-content .new-skill .dop-text{font-size: 38px;margin: 0px 0px 0px 18px;}
#add-random-skill .modal-content .get{position:relative;}

#hw-game-BubbleBlower .hw-modal{
	position:relative;
	display: none;
	align-items: center;
	justify-content: center;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	z-index:800 !important;
	background:#00000080;
}
#hw-game-BubbleBlower .hw-modal.active{display: flex;}
#hw-game-BubbleBlower .hw-modal .modal-content{
	width:80%;
	height:70%;
	overflow: auto;
	background: #222;
    border: 2px solid #649295;
	padding: 12px;
	border-radius:15px;
	z-index:10;
}
#hw-game-BubbleBlower .hw-modal .modal-shadow{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	z-index:1;
}
#hw-game-BubbleBlower #commercial-modal-block .modal-counter{
	top:calc(15% - 20px);
	right:calc(10% - 20px);
}
/* -modal- */

/* SPEC */
#hw-game-BubbleBlower .anim-end-line{
	opacity:0;
	visibility: hidden;
    top: 50%;
    width: 100%;
    height: 10px;
    background: #fff;
    border: 3px solid #4ca1a7;
    border-radius: 50%;
    z-index:-1;
    -webkit-box-shadow: 0px 0px 24px 6px rgb(12 232 232 / 50%);
    -moz-box-shadow: 0px 0px 24px 6px rgba(12, 232, 232, 0.5);
    box-shadow: 0px 0px 24px 6px rgb(12 232 232 / 50%);
	transition: top 0.4s;
}
#hw-game-BubbleBlower .anim-end-line.top.active{visibility: visible; top:-20%; opacity:1;}
#hw-game-BubbleBlower .anim-end-line.bot.active{visibility: visible; top:120%; opacity:1;}

#hw-game-BubbleBlower #blocked-display {
	display:none;
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	z-index:1000;
}
#hw-game-BubbleBlower #blocked-display.active{display:block;}

#hw-game-BubbleBlower #loader-display {
	display:none;
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	z-index:1000;
	background:#0009;
	justify-content: center;
    align-items: center;
}
#hw-game-BubbleBlower #loader-display::before{
    display: block;
    content: '';
    width: 30%;
    border-left: 6px solid #2ea4b1;
    border-top: 6px solid #2ea4b1;
    aspect-ratio: 1/1;
    border-radius: 50%;
	transform: rotate(0deg);
}
#hw-game-BubbleBlower #loader-display.active{display:flex;}
#hw-game-BubbleBlower #loader-display.active::before{
    animation: loader 1.2s infinite;
    animation-timing-function: linear;
}

/* -SPEC- */

/* ANIMATION */
@keyframes loader {
	0%{transform: rotate(0deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(360deg);}
}

@keyframes pulsare-anim {
	0%{width: 100%;height: 100%;}
	50%{width: 110%;height: 110%;}
	100%{width: 100%;height: 100%;}
}

@keyframes flash-anim {
	0%{opacity:0; width:100%; height:100%;}
	50%{opacity:1;}
	100%{opacity:0; width:100%; height:100%;}
}

@keyframes line-anim {
	0%{opacity:1; top:0%; width:100%; height:0%;}
	100%{opacity:0; top:100%; width:100%; height:20%;}
}

@keyframes boom-anim {
	0%{opacity:1; width:0%; height:0%;}
	100%{opacity:0; width:120%; height:120%;}
}
@keyframes create-anim {
	0%{top:50%; left:50%; width:0%; height:0%;}
	100%{top:0%; left:0%; width:100%; height:100%;}
}

@keyframes lightning {
	0%{opacity:0;}
	25%{opacity:1;}
	50%{opacity:0;}
	75%{opacity:1;}
	100%{opacity:0;}
}

@keyframes incision {
	0%{width:5%; opacity:1; border-radius: 50px;}
	25%{width:10%; opacity:1;}
	50%{width:100%; opacity:1;}
	75%{width:120%; opacity:0.5; border-radius: 100px; }
	100%{width:120%;opacity:0;}
}

@keyframes explosion{
	0%{width:0%;  height: 0%; opacity:1;}
	25%{width:50%;  height: 50%; opacity:1;}
	50%{width:100%;  height: 100%; opacity:1;}
	75%{width:110%;  height: 110%; opacity:0.5;}
	100%{width:120%;  height: 120%; opacity:0;}
}

/* -ANIMATION- */


::-webkit-scrollbar-button { 
background-image:url(''); 
background-repeat:no-repeat; 
width:6px; 
height:0px;
margin-left:4px;
} 

::-webkit-scrollbar-track { 
background-color:rgba(0, 0, 0, 0.5); 
box-shadow:0px 0px 3px #000 inset; 
} 

::-webkit-scrollbar-thumb { 
-webkit-border-radius: 5px; 
border-radius: 5px; 
margin-left:4px;
background-color:#649295; 
box-shadow:0px 1px 1px #19d6e2 inset; 
background-position:center; 
background-repeat:no-repeat; 
} 

::-webkit-resizer{ 
background-image:url(''); 
background-repeat:no-repeat; 
width:7px; 
height:0px 
} 

::-webkit-scrollbar{ 
width: 11px; 
}


.info_block_dev {
	position:absolute;
	right:0%;
	bottom:20%;
	width:80px;
	height:80px;
	background:#000;
	border:1px solid #f11;
	
}